.cryptocurrencies-area {
	height: max-content;
	background-color: #0f101e;
	border-radius: 12px;
	margin-top: 60px;

	.nav {
		border-bottom: none;
		font-size: 0.9rem;
		margin-bottom: 20px;
	}

	.nav-tabs {
		display: flex;
		padding-top: 15px;
		flex-wrap: wrap;
		list-style: none;
		margin-bottom: 0;
		padding-left: 0;
		font-size: 18px;

		.nav-item {
			width: 11.11%;
			text-align: center;
		}

		.nav-link {
			border: none;
			cursor: pointer;
			font-weight: 400;
			opacity: 0.6;
			color: white;
		}

		.nav-link.active {
			background-color: transparent;
			border-bottom: 2px solid #e275ff;
			color: #e275ff;
			opacity: 1;
			border-radius: 4px;
			padding: 15px;
			box-shadow: 0px 2px 4px rgba(199, 131, 226, 0.4),
				0px 7px 13px -3px rgba(216, 117, 255, 0.3),
				inset 0px -3px 0px rgba(216, 117, 255, 0.2);

			// box-shadow: 0 1px 1px rgba(199, 131, 226, 0.11),
			// 	0 2px 2px rgba(199, 131, 226, 0.11), 0 4px 4px rgba(199, 131, 226, 0.11),
			// 	0 6px 8px rgba(199, 131, 226, 0.11),
			// 	0 8px 16px rgba(199, 131, 226, 0.11);
		}
	}

	.tab-content {
		.tab-pane {
			display: none;

			.wallet-card {
				border: 1px solid #163159;
				border-radius: 15px;
				margin: 30px 0;
				padding: 30px;
				transition: background 0.4s;
				width: 100%;
			}

			.token-list {
				list-style: none;
				color: white;

				li > div:not(first-child) {
					flex: 1 1;
					font-weight: 500;
				}

				li > div:first-child {
					flex: none;
					width: 50px;
				}
				li {
					cursor: pointer;
					align-items: center;
					border-bottom: 1px solid #1d2b46;
					display: flex;
					padding: 15px 0;
					position: relative;
					transition: all 0.2s;

					img {
						height: 30px;
						width: 30px;
						border-radius: 100px;
					}

					.token-name {
						font-weight: 600;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-size: 18px;
						overflow: hidden;
						width: 130px;
					}
					.token-category {
						font-weight: 600;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-size: 18px;
					}
					.token-symbol {
						color: #b1bbce;
						font-size: 0.9rem;
					}
					.positive {
						color: #4fbf67;
					}

					.negative {
						color: #ff5c5c;
					}
				}

				.header-row {
					cursor: default !important;
					font-size: 18px;

					div {
						font-weight: 600;
					}

					div:first-child {
						width: 50px;
					}
				}
			}
			.category-image {
				img {
					margin-left: 2px;
					margin-right: 2px;
				}
			}
			.token-list-category {
				list-style: none;
				color: white;

				li > div:not(first-child) {
					flex: 1 1;
					font-weight: 500;
				}

				li {
					cursor: pointer;
					align-items: center;
					border-bottom: 1px solid #1d2b46;
					display: flex;
					padding: 15px 0;
					position: relative;
					transition: all 0.2s;

					img {
						height: 30px;
						width: 30px;
						border-radius: 100px;
					}

					.token-name {
						font-weight: 600;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-size: 18px;
						overflow: hidden;
						width: 130px;
					}
					.token-category {
						font-weight: 600;
						text-overflow: ellipsis;
						white-space: nowrap;
						font-size: 18px;
					}
					.token-symbol {
						color: #b1bbce;
						font-size: 0.9rem;
					}
					.positive {
						color: #4fbf67;
					}

					.negative {
						color: #ff5c5c;
					}
				}

				.header-row {
					cursor: default !important;
					font-size: 18px;

					div {
						font-weight: 600;
					}
				}
			}
		}

		.tab-pane.active {
			display: block;

			h3 {
				padding-left: 30px;
				padding-top: 30px;
				font-size: 20px;
			}
		}
	}
}

@media (min-width: 1400px) {
	.cryptocurrencies-area {
		max-width: 1340px !important;
	}
}

@media (min-width: 1500px) {
	.cryptocurrencies-area {
		max-width: 1440px !important;
	}
}

@media (min-width: 1600px) {
	.cryptocurrencies-area {
		max-width: 1540px !important;
	}
}

@media (min-width: 1700px) {
	.cryptocurrencies-area {
		max-width: 1600px !important;
	}
}
