.header-action {
	.search-input {
		width: 100%;
		background: rgba(255 255 255 / 7%);
		display: block;
		border: none;
		padding: 15px 15px;
		border-radius: 30px;
		color: var(--tg-white);
		line-height: 1;
		height: 50px;
	}
}
