@import "react-toastify/dist/ReactToastify.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-modal-video/css/modal-video.css";

@import "../../public/assets/css/animate.min.css";
@import "../../public/assets/css/bootstrap.min.css";
@import "../../public/assets/css/default.css";
@import "../../public/assets/css/fontawesome-all.min.css";
@import "../../public/assets/css/style.css";
@import "../../public/assets/css/responsive.css";

/* @media (min-width: 1400px) {
	.container {
		max-width: 1340px;
	}
}

@media (min-width: 1500px) {
	.container {
		max-width: 1440px;
	}
}

@media (min-width: 1600px) {
	.container {
		max-width: 1540px;
	}

	.menu-area .mobile-nav-toggler {
		display: flex !important;
	}
}

@media (min-width: 1700px) {
	.container {
		max-width: 1600px;
	}

	.custom-container {
		max-width: 1700px !important;
	}
} */
